.card{
    width: 100%;
    max-width: 180px;
    height: 210px;
    color: #0832DE;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #0832DE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}