.textInput {
  width: 90%;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 14px;
  margin-right: 30px;
  outline: none;
  border: 1px solid #999;
  background-color: #f0eeee;
}
.textInput::selection {
  padding: 10px;
  background-color: red; /* Change this to the color you want */
}
.button {
  border-radius: 15px;
  background: var(--Active-btn, #003cff);
  padding: 10px 25px;
  color: white;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
