.generalSettings_CustomAmmount {
  display: flex;
  gap: 10px;
  width: 100%;
}

.generalSettings_CustomAmmount input {
  width: 150%;
  padding: 12px 16px;
  border-radius: 12px;
  font-size: 20px;
  margin-right: 30px;
}

.generalSettings_CustomAmmount button {
  padding: 16px 16px;
  border-radius: 12px;
  font-size: 20px;
  background-color: #003cff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.generalSettings_TextHeading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 30px;
}

.generalSettings_SubTextHeading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 30px;
}

.generalSettings_MainBanner input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 12px;
  font-size: 20px;
  margin-right: 30px;
}

.generalSettings_MainBanner textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 12px;
  font-size: 20px;
  margin-right: 30px;
}

.generalSettings_MainBanner button {
  padding: 16px 50px;
  border-radius: 12px;
  font-size: 20px;
  background-color: #003cff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.generalSettings_MainServices {
  display: flex;
  
  justify-content: space-between;
  align-items: center;
}

.generalSettings_serviceBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
